.section {
	&.about {
		.row-buttons {
			margin: 20px 0 0 0;

			@media (min-width: $screen-md-min) {
				margin-top: 40px;
			}

			.btn {
				border: none;
				font: {
					size: 15px;
					weight: 500;
				}
				margin: 5px 0;
				text-transform: uppercase;
				@include border-radius(0);
				@include transition(background-color 300ms ease-in-out);

				@media (min-width: $screen-md-min) {
					margin: 0;
					padding: {
						left: 30px;
						right: 30px;
					}
				}

				.fa {
					margin-left: 7.5px;
					@include transition(transform 300ms ease-in-out);
				}

				&:hover,
				&:active,
				&:focus {
					.fa {
						@include transform(scale(1.3));
					}
				}
			}

			.col-button-cv {
				text-align: center;

				@media (min-width: $screen-sm-min) {
					text-align: right;
				}

				&.btn {
					background-color: $section_about_button_cv_background_color;
					color: $section_about_button_cv_link_color;

					&:hover,
					&:active,
					&:focus {
						background-color: lighten($section_about_button_cv_background_color, 5%);
					}
				}
			}

			.col-button-contact {
				text-align: center;

				@media (min-width: $screen-sm-min) {
					text-align: left;
				}

				&.btn {
					background-color: $section_about_button_contact_background_color;
					color: $section_about_button_contact_link_color;

					&:hover,
					&:active,
					&:focus {
						background-color: lighten($section_about_button_contact_background_color, 5%);
					}
				}
			}
		}
	}

	&.skills,
	&.works,
	&.portfolio,
	&.education,
	&.contact {
		.title {
			margin-bottom: 30px;
			text-align: center;
		}
	}

	&.skills {
		color: $section_skills_text_color;

		.title {
			color: $section_skills_title_color;
		}

		.row-content {
			.col-md-12 {
				background-color: $section_skills_background_color;
				padding: 40px;
			}
		}
	}

	&.works {
		color: $section_works_text_color;

		.title {
			color: $section_works_title_color;
		}

		.row-content {
			.col-md-12 {
				background-color: $section_works_background_color;
				padding: 40px;
			}
		}

		.date {
			color: $section_works_date_color;
		}
	}
}
