.section {
	&.about {
		.row-buttons {
			margin: 4rem 0 0 0;

			.col-button {
				text-align: center;

				&:first-child:not(:last-child) {
					@media (min-width: $screen-sm-min) { text-align: right; }
				}

				&:last-child:not(:first-child) {
					@media (min-width: $screen-sm-min) { text-align: left; }
				}
			}

			.btn {
				border: none;
				border-radius: 0;
				font: {
					size: 15px;
					weight: 500;
				}
				margin: 5px 0;
				text-transform: uppercase;
				transition: background-color 300ms ease-in-out;

				@media (min-width: $screen-md-min) {
					margin: 0;
					padding: {
						left: 30px;
						right: 30px;
					}
				}

				.fa {
					margin-left: 7.5px;
					transition: transform 300ms ease-in-out;
				}

				&:hover,
				&:active,
				&:focus {
					@media (min-width: $screen-sm-min) {
						.fa { transform: scale(1.3); }
					}
				}
			}

			.col-button-cv {
				.btn {
					background-color: $section_about_button_cv_background_color;
					color: $section_about_button_cv_link_color;

					&:hover,
					&:active,
					&:focus { background-color: lighten($section_about_button_cv_background_color, 5%); }
				}
			}

			.col-button-contact {
				.btn {
					background-color: $section_about_button_contact_background_color;
					color: $section_about_button_contact_link_color;

					&:hover,
					&:active,
					&:focus {
						background-color: lighten($section_about_button_contact_background_color, 5%);
					}
				}
			}
		}
	}

	&.skills,
	&.works,
	&.portfolio {
		.title {
			margin-bottom: 5rem;
			text-align: center;
		}
	}

	&.skills {
		.title { color: $section_skills_title_color; }

		.box-container {
			padding: 0;

			@media (min-width: $screen-sm-min) { padding: 0 4.5rem; }
		}

		.subtitle {
			color: $section_skills_subtitle_color;
			margin: 0 0 3rem 0;
			text-align: center;

			.fa { margin-right: 10px; }
		}

		.progress {
			background-color: rgba($section_skills_skill_background_color, 0.33);
			border-radius: 0;
			height: 30px;
			margin-bottom: 3rem;
		}

		.col-sm-12:last-child .progress:last-child { margin-bottom: 0; }

		@media (min-width: $screen-md-min) {
			.col-md-4 .progress:last-child { margin-bottom: 0; }
		}

		.progress-bar {
			background-color: $section_skills_skill_background_color;
			box-shadow: none;
			color: $section_skills_skill_text_color;
			font: {
				size: 13px;
				weight: 500;
			}
			line-height: 30px;
			text-align: left;
			padding: 0 10px;
		}
	}

	&.works {
		.title { color: $section_works_title_color; }

		.timeline {
			position: relative;
			@extend %clearfix;

			@media (min-width: $screen-sm-min) {
				&:before {
					background-color: $section_works_title_color;
					bottom: 50px;
					box-shadow: inset 0 -100px 100px -30px $background_color;
					content: '';
					display: block;
					left: 50%;
					margin-left: -1px;
					position: absolute;
					top: 15px;
					width: 2px;
				}
			}
		}

		.row-content {
			position: relative;

			@media (min-width: $screen-sm-min) {
				margin-top: -6rem;

				&:first-child { margin-top: 0; }
			}

			.fa {
				display: none;

				@media (min-width: $screen-sm-min) {
					color: $section_works_title_color;
					display: block;
					font-size: 15px;
					left: 50%;
					margin-left: -6.5px;
					position: absolute;
					top: 13px;
				}
			}
		}

		.box {
			background-color: $section_works_background_color;
			color: $section_works_text_color;
			margin-bottom: 4rem;
			padding: 4rem;
			position: relative;

			@media (min-width: $screen-sm-min) {
				margin-bottom: 0;

				&:before {
					border: 12px solid transparent;
					content: '';
					display: block;
					height: 0;
					position: absolute;
					top: 10px;
					width: 0;
				}
			}
		}

		@media (min-width: $screen-sm-min) {
			.row-content {
				&:nth-child(even) {
					.col-sm-6 {
						float: right;

						.box {
							margin-left: 3rem;

							&:before {
								border-right-color: $section_works_background_color;
								left: -24px;
							}
						}
					}
				}

				&:nth-child(odd) {
					.col-sm-6 {
						.box {
							margin-right: 3rem;

							&:before {
								border-left-color: $section_works_background_color;
								right: -24px;
							}
						}
					}
				}
			}
		}

		.row-content:last-child .box:last-child { margin-bottom: 0; }

		.subtitle {
			color: $section_works_subtitle_color;
			margin: 0 0 15px 0;
		}

		.meta {
			color: $section_works_meta_color;
			margin: 0;
		}

		.content { padding-top: 1rem; }
	}

	&.portfolio {
		.title { color: $section_portfolio_title_color; }

		.box-container {
			padding: 0;

			@media (min-width: $screen-sm-min) { padding: 0 4.5rem; }
		}

		.box {
			margin-bottom: 3rem;

			.subtitle { margin-top: 0; }
		}

		figure {
			border: 3px solid $section_portfolio_border_color;
			overflow: hidden;
			position: relative;
		}

		img {
			transition: transform 300ms ease-in-out;
			width: 100%;
		}

		figcaption {
			background-color: rgba($section_portfolio_background_text_color, 0.68);
			color: $section_portfolio_text_color;
			display: flex;
			flex-flow: row;
			height: 100%;
			left: 0;
			opacity: 1;
			padding: 3rem;
			position: absolute;
			top: 0;
			text-align: center;
			transition: opacity 300ms ease-in-out;
			width: 100%;

			@media (min-width: $screen-sm-min) { opacity: 0; }

			.figcaption-content {
				align-items: center;
				display: flex;
				flex-flow: column;
				justify-content: center;
				transform: translate(0px, 0px);
				transition: transform 300ms ease-in-out;
				width: 100%;

				@media (min-width: $screen-sm-min) { transform: translate(0px, 15px); }
			}
		}

		@media (min-width: $screen-sm-min) {
			figure {
				&:hover,
				&:focus {
					img { transform: scale(1.1); }

					figcaption {
						opacity: 1;

						.figcaption-content { transform: translate(0px, 0px); }
					}
				}
			}
		}
	}
}
