/** nandotess-resume-extra-content.css @author   Fernando Tessmann @since    1.0.0 @package  nandotess-resume-extra-content */
.section.works .timeline:before, .section.works .timeline:after { content: " "; display: table; }

.section.works .timeline:after { clear: both; }

.section.about .row-buttons { margin: 4rem 0 0 0; }

.section.about .row-buttons .col-button { text-align: center; }

@media (min-width: 768px) { .section.about .row-buttons .col-button:first-child:not(:last-child) { text-align: right; } }

@media (min-width: 768px) { .section.about .row-buttons .col-button:last-child:not(:first-child) { text-align: left; } }

.section.about .row-buttons .btn { border: none; border-radius: 0; font-size: 15px; font-weight: 500; margin: 5px 0; text-transform: uppercase; transition: background-color 300ms ease-in-out; }

@media (min-width: 992px) { .section.about .row-buttons .btn { margin: 0; padding-left: 30px; padding-right: 30px; } }

.section.about .row-buttons .btn .fa { margin-left: 7.5px; transition: -webkit-transform 300ms ease-in-out; transition: transform 300ms ease-in-out; transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out; }

@media (min-width: 768px) { .section.about .row-buttons .btn:hover .fa, .section.about .row-buttons .btn:active .fa, .section.about .row-buttons .btn:focus .fa { -webkit-transform: scale(1.3); transform: scale(1.3); } }

.section.about .row-buttons .col-button-cv .btn { background-color: #2196f3; color: white; }

.section.about .row-buttons .col-button-cv .btn:hover, .section.about .row-buttons .col-button-cv .btn:active, .section.about .row-buttons .col-button-cv .btn:focus { background-color: #39a1f4; }

.section.about .row-buttons .col-button-contact .btn { background-color: #38de8a; color: white; }

.section.about .row-buttons .col-button-contact .btn:hover, .section.about .row-buttons .col-button-contact .btn:active, .section.about .row-buttons .col-button-contact .btn:focus { background-color: #4ee297; }

.section.skills .title, .section.works .title, .section.portfolio .title { margin-bottom: 5rem; text-align: center; }

.section.skills .title { color: #5f5f5f; }

.section.skills .box-container { padding: 0; }

@media (min-width: 768px) { .section.skills .box-container { padding: 0 4.5rem; } }

.section.skills .subtitle { color: #5f5f5f; margin: 0 0 3rem 0; text-align: center; }

.section.skills .subtitle .fa { margin-right: 10px; }

.section.skills .progress { background-color: rgba(227, 227, 227, 0.33); border-radius: 0; height: 30px; margin-bottom: 3rem; }

.section.skills .col-sm-12:last-child .progress:last-child { margin-bottom: 0; }

@media (min-width: 992px) { .section.skills .col-md-4 .progress:last-child { margin-bottom: 0; } }

.section.skills .progress-bar { background-color: #e3e3e3; box-shadow: none; color: #727272; font-size: 13px; font-weight: 500; line-height: 30px; text-align: left; padding: 0 10px; }

.section.works .title { color: #5f5f5f; }

.section.works .timeline { position: relative; }

@media (min-width: 768px) { .section.works .timeline:before { background-color: #5f5f5f; bottom: 50px; box-shadow: inset 0 -100px 100px -30px #e3e3e3; content: ''; display: block; left: 50%; margin-left: -1px; position: absolute; top: 15px; width: 2px; } }

.section.works .row-content { position: relative; }

@media (min-width: 768px) { .section.works .row-content { margin-top: -6rem; }
  .section.works .row-content:first-child { margin-top: 0; } }

.section.works .row-content .fa { display: none; }

@media (min-width: 768px) { .section.works .row-content .fa { color: #5f5f5f; display: block; font-size: 15px; left: 50%; margin-left: -6.5px; position: absolute; top: 13px; } }

.section.works .box { background-color: white; color: #727272; margin-bottom: 4rem; padding: 4rem; position: relative; }

@media (min-width: 768px) { .section.works .box { margin-bottom: 0; }
  .section.works .box:before { border: 12px solid transparent; content: ''; display: block; height: 0; position: absolute; top: 10px; width: 0; } }

@media (min-width: 768px) { .section.works .row-content:nth-child(even) .col-sm-6 { float: right; }
  .section.works .row-content:nth-child(even) .col-sm-6 .box { margin-left: 3rem; }
  .section.works .row-content:nth-child(even) .col-sm-6 .box:before { border-right-color: white; left: -24px; }
  .section.works .row-content:nth-child(odd) .col-sm-6 .box { margin-right: 3rem; }
  .section.works .row-content:nth-child(odd) .col-sm-6 .box:before { border-left-color: white; right: -24px; } }

.section.works .row-content:last-child .box:last-child { margin-bottom: 0; }

.section.works .subtitle { color: #5f5f5f; margin: 0 0 15px 0; }

.section.works .meta { color: #2196f3; margin: 0; }

.section.works .content { padding-top: 1rem; }

.section.portfolio .title { color: #5f5f5f; }

.section.portfolio .box-container { padding: 0; }

@media (min-width: 768px) { .section.portfolio .box-container { padding: 0 4.5rem; } }

.section.portfolio .box { margin-bottom: 3rem; }

.section.portfolio .box .subtitle { margin-top: 0; }

.section.portfolio figure { border: 3px solid white; overflow: hidden; position: relative; }

.section.portfolio img { transition: -webkit-transform 300ms ease-in-out; transition: transform 300ms ease-in-out; transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out; width: 100%; }

.section.portfolio figcaption { background-color: rgba(0, 0, 0, 0.68); color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row; flex-flow: row; height: 100%; left: 0; opacity: 1; padding: 3rem; position: absolute; top: 0; text-align: center; transition: opacity 300ms ease-in-out; width: 100%; }

@media (min-width: 768px) { .section.portfolio figcaption { opacity: 0; } }

.section.portfolio figcaption .figcaption-content { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); transition: -webkit-transform 300ms ease-in-out; transition: transform 300ms ease-in-out; transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out; width: 100%; }

@media (min-width: 768px) { .section.portfolio figcaption .figcaption-content { -webkit-transform: translate(0px, 15px); transform: translate(0px, 15px); } }

@media (min-width: 768px) { .section.portfolio figure:hover img, .section.portfolio figure:focus img { -webkit-transform: scale(1.1); transform: scale(1.1); }
  .section.portfolio figure:hover figcaption, .section.portfolio figure:focus figcaption { opacity: 1; }
  .section.portfolio figure:hover figcaption .figcaption-content, .section.portfolio figure:focus figcaption .figcaption-content { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

/*# sourceMappingURL=maps/nandotess-resume-extra-content.css.map */
