.section {
	&.about {
		.section-buttons {
			.btn {
				&.btn-default {
					background-color: $section_about_button_cv_background_color;
					color: $section_about_button_cv_link_color;

					&:hover,
					&:active,
					&:focus {
						background-color: lighten($section_about_button_cv_background_color, 10%);
					}
				}

				&.btn-primary {
					background-color: $section_about_button_contact_background_color;
					color: $section_about_button_contact_link_color;

					&:hover,
					&:active,
					&:focus {
						background-color: lighten($section_about_button_contact_background_color, 10%);
					}
				}
			}
		}
	}

	&.skills {
		color: $section_skills_text_color;

		.col-md-12 {
			background-color: $section_skills_background_color;
		}
	}
}
