/// Bootstrap Grid
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/// Colors - Homepage section - About
$section_about_button_cv_background_color: #2196f3;
$section_about_button_cv_link_color: white;
$section_about_button_contact_background_color: #38de8a;
$section_about_button_contact_link_color: white;

/// Colors - Homepage section - Skills
$section_skills_background_color: #2196f3;
$section_skills_text_color: white;
